.Mainpage
{
    margin-top: 100px;
    font-size: 30px;
    display: grid;

    grid-template-areas: "text text" "choose graph";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 1fr;
}

.item a
{
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: color .5s linear;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.item a.active
{
    color: gold;
}

.description
{
    grid-area: text;
}

.choose
{
    grid-area: choose;
}

.graph
{
    grid-area: graph;
}