.Mainpage
{
    margin-top: 100px;
    font-size: 30px;
    display: grid;

    grid-template-areas: "text text" "choose graph";
    grid-template-columns: 400px 1fr;
    grid-template-rows: 200px 1fr;
}

.description
{
    grid-area: text;
    margin-left: 50px;
}

.choose
{
    grid-area: choose;
    margin-left: 50px;
}

.graph
{
    grid-area: graph;
    background: white;
}