.Register
{
    display: table;
    border-spacing: 100px;
    font-size: 20px;
    margin-left: 50px;
}

.item a
{
    display: table-cell;
}

.button
{
    font-size: 50px;
    font-family: Karumbi;
    color: gold;
    cursor: pointer;
    margin-left: 20px;
}